a {
    text-decoration: underline;
}
a:link {
    text-decoration: underline;
}
a:visited {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}